PORT=5000
# MongoDB
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

# JWT Secret
JWT_SECRET=
APP_DOMAIN=http://localhost:3000

#CLOUDINARY
CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google-redirect

# SMTP Password-Reset
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
